.container {
    margin: auto;
    width: 800px;
}

.summary {
    padding: 10px;
    font-size: 14px;
}

.details {
    text-align: center;
    margin: 15px;
    font-size: 18px;
}

svg {
    height: 30px;
    width: 40px;
    cursor: pointer;
    color: #787878;
    /* margin-top: 35px; */
    margin-bottom: -8px;
}

table th {
    text-align: right;
}

table {
    margin-bottom: 20px;
}

button {
    outline: 0;
    background: transparent;
    padding: 0;
    margin: 10px 0 10px 0;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    animation: spin 2s linear infinite;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

table th, td {
    font-size: 14px;
}